.body-head,
.more-menu,
#foot-contents {
  background-color: #3f0e0a;
  border-bottom-color: #91371c;
  color: #fff;
}
.small-logo {
   content: url('//amrayn.com/assets/images/themes-assets-rebrand/logo-small-maroon.png?v=12');
}
#header-bar,.context-list {
  border-bottom-color: #91291c !important;
}

.context-list > a {
  color: #fff !important;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #91251c;
  border-color: #912e1c;
}

.context-list > a.selected-context,
.more-menu > ul > li:hover,
.context-list > a:hover,
.context-list-a-hover {
  background: #91251c;
}

a.link-small-icon:hover,
span.link-small-icon:hover {
  color: #000;
}

.more-menu {
  border-color: #91251c;
}

#nprogress .bar {
  background-color: #da5746;
}

#nprogress .peg {
  box-shadow: 0 0 10px #C31414, 0 0 5px #FF6969;
}

.spinner > .spinner-icon, .retry-loading {
  border-top-color: #da5746;
  border-left-color: #da5746;
  color: #da5746;
}

.share-btn {
  color: #912e1c;
  background-color: transparent;
}

.next-page:hover,
.prev-page:hover {
  border-color: #91251c;
  color: #91251c;
  background-color: transparent;
}

.share-btn:hover {
  background: #3f120a;
}

.ui-state-active,
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #fff;
}

.ayah-alt2 {
  background-color: rgba(255, 157, 6, 0.11);
}

.search-item-heading {
  background-color: rgba(27, 24, 24, 0.18);
  color: #000;
}

.search-item-heading > a {
  background-color: #3f120a;
  color: #fff;
}

.search-item-alt {
  background-color: rgba(255, 245, 0, 0.11);
}

div.search-item-heading > a:hover {
  color: #D3D3D2 !important;
  background-color: #000;
}

.search-bar2,
.search-bar {
  background-position: -11px -116px;
  background-color: #fff;
  color: #3F0A0A;
}

.fav:before,
.bookmarked:before,
.filled-fa:before,
.no-fav:hover::before,
.not-bookmarked:hover::before {
  color: #91291c;
}

.hadith-nav > button {
  background: transparent;
  color: #454444;
}

.hadith-nav > button:hover {
  color: #91251c;
  background-color: transparent;
}

.tabs a:focus,
.tabs #current {
  border-bottom-color: #91251c;
}

.tabs a:hover {
  border-bottom-color: #3d3d3d;
}

.notification-item.notification-unread,
#user-bar .notification-more-avail {
  background-color: #fccfcf;
}

a.list-link-item:hover,
a.chap-link-item:hover,
.other-search-types-item:hover,
.notification-item:hover {
  background-color: rgba(145, 37, 28, 0.33);
}

body {
  background: #fff;
}

.logohq,.large-logo {
  content: url('//amrayn.com/assets/images/themes-assets-rebrand/logo-banner-maroon.png?v=12');
}

#logoabout {
  content: url('//amrayn.com/assets/images/themes-assets-rebrand/logo-maroon.png?v=12');
}

.search-types {
  border-color: #912e1c !important;
  background-color: rgba(3, 3, 3, 0.1);
}

section.bottom-menu {
  background: #3f120a;
}

#btn-play {
  background-color: #91251c;
}

#btn-play > span {
  color: #fff;
}

/*
::selection,
::-moz-selection,
::-webkit-selection {
  background: #da5746;
}
*/
.ui-state-active .ui-icon {
  background-image: url("jquery-ui-1.11.1.custom/images/ui-icons_fff_256x240.png");
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-header {
  border-color: #91291c;
  background: #3f0e0a;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #C20000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #863816), color-stop(90%, #C20000));
  background-image: -webkit-linear-gradient(#863816 20%, #C20000 90%);
  background-image: -moz-linear-gradient(#863816 20%, #C20000 90%);
  background-image: -o-linear-gradient(#863816 20%, #C20000 90%);
  background-image: linear-gradient(#863816 20%, #C20000 90%);
  color: #fff;
}

#seek-bar > a.ui-slider-handle,
#verse-start-end-pos > div.ui-slider-range {
  background: #da5746;
}

.stop > span,
.play > span,
.restart > span,
.restart-all > span,
.pause > span {
  color: #ff8500;
}

.stop-grey > span,
.play-grey > span,
.restart-grey > span,
.restart-all-grey > span,
.pause-grey > span {
  color: #999 !important;
}

.toolbtn {
  background-color: rgba(0, 0, 0, 0);
}

.toolbtn > span,
#status-bar {
  color: #da5746;
  background-color: rgba(0, 0, 0, 0);
}

button.toolbtn > span:hover {
  color: #fff;
}

hr.menuhr {
  background-color: #91251c;
}

.link-item-icon {
  color: rgba(145, 37, 28, 0.39);
}

.tab-updates-count {
  background-color: #91251c;
  color: #fff;
}

.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
  background-color: #91251c;
}

h2.non-hideable-section-head,
h2.hideable-section-head {
  background-color: #6F3024;
}

.embedded-post blockquote {
  border-left: 4px solid #91371c;
}

.embedded-post h1, .embedded-post h2, .embedded-post h3 {
  color: #91371c;
}
